@igrp:registry=https://sonatype.nosi.cv/repository/igrp/
@simple:registry=https://sonatype-az.nosi.cv/repository/simple/
    //sonatype-az.nosi.cv/repository/simple/:username=simple-gt-user
    //sonatype-az.nosi.cv/repository/simple/:_password=QFA8NnE3QU1oMDhT